.MainPage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.MainPage__container{
    height: 100%;
    width: 440px;
    margin-top: 2%;
    padding-left: 30px;
    padding-right: 30px;
}

.text{
    color: white;
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: normal;
    letter-spacing: 0;
    text-align: left;
    margin-bottom: 30px;
}

.text2{
    color: white;
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0;
    text-align: left;
}

.text3{
    color: white;
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: normal;
    letter-spacing: 0;
    text-align: left;
}

.buttons{
    width: 100%;
    min-width: 380px;
    height: 145px;
    border-radius: 15px;
    display: flex;
    padding-top: 26px;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
    margin-bottom: 20px;
}

.buttons__inside{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5%;
}

.button__description{
    width: 300px;
}

.closeApp{
align-self: flex-end;
width: 380px;
height: 75px;
background: #6441A5;
border-radius: 11px;
color: white;
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: normal;
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 30px;
    position: fixed;

  

}