.text-accent {
    color: #db5fb6; /* Или любой твой акцентный цвет */
    font-family: 'Onest', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Разделитель */
.divider {
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    margin: 20px 0;
}

/* Контейнер для всей страницы */
.page-container {
    height: auto;
    padding: 20px;
    /* background: #26002e;  */
  background: linear-gradient(135deg, #26002e 0%, #1c132b 100%);
   
    border-radius: 30px;
}

/* Кнопка заказа */
.order-button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(90deg, #3F1283, #83125F);
    color: white;
    font-weight: 600;
    cursor: pointer;
}